//Grid
@import 'reset.scss';
@import 'bootstrap/_mixins.scss';
@import 'bootstrap/bootstrap-grid.scss';

@mixin make-row($gutter: $grid-gutter-width) {
  @if $enable-flex {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include clearfix();
  }
  // margin-left:  ($gutter / -2);
  // margin-right: ($gutter / -2);
}

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@mixin font-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
@mixin font-regular {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@mixin font-semibold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.main-content {
  padding-bottom: 200px;
}



.container {
  @include media-breakpoint-up(lg) {
    width: 940px;
  };
}

.header {
  display: none;
  position: fixed;
  top: 0;
  padding: 14px 0 25px 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  z-index: 3;
  .logo {
    float: left;
    img {
      @include media-breakpoint-down(md) {
        width: 175px;
        height: 42px;
      };
    }
  }
}

.nav {
  float: right;
  text-align: right;
  &__wrapper {
    text-align: right;
    display: inline-block;
    margin-top: 25px;
    margin-right: 50px;
    @include media-breakpoint-down(md) {
      display: none;
    }
    &_mobile {
      display: block;
      margin-top: 0;
      margin-right: 0;
      padding-top: 70px;
      text-align: center;
    }
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include font-regular();
      font-size: 16px;
      color: #727272;
      text-decoration: none;
    }
    &_mobile {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      a {
        font-size: 21px;
      }
    }
  }
  &_mobile {
    display: none;
    float: none;
    text-align: center;
  }
}
.header-btns {
  display: inline-block;
  margin-top: 20px;
  @include media-breakpoint-down(md) {
    display: none;
  };
  & > a, & > div {
    display: inline-block;
    padding: 4px 12px 4px 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    @include font-regular;
    text-decoration: none;
  }
  &__signup {
    margin-right: 10px;
    border-color: #03a9f4;
    color: #03a9f4;
    &_mobile {
      margin-right: 0;
    }

  }
  &__login {
    position: relative;
    border-color: #727272;
    color: #727272;
    cursor: pointer;
    &_mobile {
      display: none !important;
    }
  }
  &_mobile {
    display: none;
  }
  @include media-breakpoint-down(md) {
    &_mobile {
      display: block;
    }
  }
}
.login-window {
  display: none;
  position: absolute;
  top: 70px;
  left: -150px;
  padding: 10px;
  background-image: url(../img/back4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  //border: 1px solid #727272;
  box-shadow: 0 0 6px 1px #838383;
  width: 250px;
  & input:not([type="submit"]) {
    margin-bottom: 10px;
    -webkit-appearance: none;
    padding: 12px 10px 14px 10px;
    width: 100%;
    @include font-light;
    font-size: 16px;
    color: #727272;
    border: none;
    border-radius: 5px;
    &::placeholder {
      font-size: 16px;
      color: #727272;
    }
  }
  &__submit {
    padding: 6px 10px 8px 10px;
    //width: 100%;
    border: none;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background-color: #03a9f4;
    border-radius: 5px;
    cursor: pointer;
  }
  &_mobile {
    display: block;
    position: static;
    margin: 0 auto;
    background-image: none;
    box-shadow: none;
    & input:not([type="submit"]) {
      padding: 7px 10px 9px 10px;
    }
  }
}

.nav-open {
  display: none;
  margin-right: 12px;
  margin-top: 6px;
  position: relative;
  float: right;
  padding: 10px;
  width: 57px;
  height: 42px;
  border-radius: 2px;
  overflow: hidden;
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    width: 37px;
    background-color: #727272;
    transition: all ease .5s;
    &:nth-child(2) {
      top: 19px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }
  &--active {
    span {
      &:first-child {
        transform: rotate(45deg);
        top: 19px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 19px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
  };
}



.btn {
  display: block;
  padding: 16px 37px 16px 37px;
  width: 320px;
  @include font-light;
  font-size: 24px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: #57ae2e;
  text-decoration: none;
  @include media-breakpoint-down(xs) {
    width: 100%;
  };
}
.heading {
  @include font-bold;
  font-size: 50px;
  text-transform: uppercase;
  @include media-breakpoint-down(xs) {
    font-size: 38px;
  };
}

.main {
  padding: 170px 0 100px 0;
  background-image: url(../img/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__wrapper {
    @include make-col();
    @include make-col-span(6);
  }
  &__biglogo {
    margin-bottom: 50px;
    width: 100%;
    height: 116px;
    background-image: url(../img/logo_big.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__text {
    margin-bottom: 20px;
    @include font-light;
    font-size: 25px;
    color: #f9f9f9;
  }
  &__btn {
    margin-bottom: 50px;
  }
  &__h1 {
    @extend .heading;
    margin-bottom: 50px;
    color: #fff;
  }
  @include media-breakpoint-down(lg) {
    &__wrapper {
      @include make-col-span(12);
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 150px 0 70px 0;
  };
}
.advantage {
  &__item {
    @include make-col();
    @include make-col-span(4);
    padding: 0;
    &:first-child .advantage__icon {
      background-image: url(../img/earth_icon.png);
    }
    &:nth-child(2) .advantage__icon {
      background-image: url(../img/phone_icon.png);
    }
    &:nth-child(3) .advantage__icon {
      background-image: url(../img/dollar_icon.png);
    }
  }
  &__icon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(2, 168, 244, 0.75);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__text {
    @include font-bold;
    font-size: 19px;
    text-align: center;
    color: #fff;
  }
  @include media-breakpoint-down(xs) {
    &__item {
      @include make-col-span(12);
      margin-bottom: 20px;
    }
    &__icon {
      margin-bottom: 7px;
    }
  };
}

.features {
  padding: 200px 0 195px 0;
  background-image: url(../img/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__h1 {
    @extend .heading;
    margin-bottom: 50px;
    color: #727272;
  }
  &__subhead {
    @include font-semibold;
    text-transform: uppercase;
    font-size: 20px;
    color: #03a9f4;
  }
  &__text {
    @include font-light;
    font-size: 20px;
    color: #727272;
    line-height: 25px;
  }
  &__btn {
    margin: 0 auto 40px auto;
    background-color: #03a9f4;
  }
  .laptop {
    width: 100%;
    height: 253px;
    background-image: url(../img/laptop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__left {
    @include make-col();
    @include make-col-span(7);
  }
  &__right {
    @include make-col();
    @include make-col-span(5);
  }
  @include media-breakpoint-down(lg) {
    &__btn {
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    &__left, &__right {
      @include make-col-span(12);
    }
    &__left {
      margin-bottom: 30px;
    }
    .laptop {
      background-position: center;
    }
    &__btn {
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 100px 0 95px 0;
  };
}
.quote {
  margin-top: 50px;
  &__text {
    @include font-light;
    font-size: 20px;
    font-style: italic;
    color: #727272;
    line-height: 25px;
  }
  &__author {
    @include font-light;
    font-size: 20px;
    color: #03a9f4;
    line-height: 25px;
  }
}

.monetize {
  padding: 200px 0 157px 0;
  background-image: url(../img/back3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__h1 {
    @extend .heading;
    margin-bottom: 15px;
    color: #fff;
  }
  &__text {
    @include font-semibold;
    font-size: 20px;
    color: #fff;
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 100px 0 75px 0;
  };
}
.achievement {
  @include make-row();
  margin-bottom: 50px;
  &__item {
    @include make-col();
    @include make-col-span(3);
    padding-left: 0;
    &:last-of-type {
      //margin-right: 0;
    }
  }
  &__bg {
    padding-top: 10px;
    width: 100%;
    min-height: 140px;
    height: 100%;
    background-color: rgba(113, 113, 113, 0.5);
    border-radius: 20px;
    text-align: center;
  }
  &__number {
    margin-bottom: 10px;
    @include font-bold;
    font-size: 50px;
    color: #ffffff;
  }
  &__upper-sign {
    vertical-align: super;
  }
  &__text {
    @include font-regular;
    font-size: 16px;
    color: #fff;
  }
  &__btn {
    background-color: #ff5252;
  }
  @include media-breakpoint-down(lg) {
    &__number {
      font-size: 35px;
    }
  }
  @include media-breakpoint-down(md) {
    &__item {
      @include make-col-span(6);
      &:first-of-type, &:nth-of-type(2) {
        margin-bottom: .9375rem;
      }
      &:nth-of-type(2), &:nth-of-type(4) {
        padding-right: 0rem;
      }
    }
  }
}

.signup {
  padding: 200px 0 200px 0;
  background-image: url(../img/back4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__h1 {
    margin-bottom: 10px;
    @extend .heading;
    color: #727272;
  }
  &__subhead {
    margin-bottom: 50px;
    @include font-semibold;
    font-size: 20px;
    color: #03a9f4;
  }
  @include media-breakpoint-down(xs) {
    padding: 100px 0 100px 0;
  };
}
.signup-form {
  &__wrapper {
    @include make-col();
    @include make-col-span(4);
    &:first-of-type:not(&-submit) {
      padding-left: 0;
    }
    &:last-of-type:not(&-submit) {
      padding-right: 0;
    }
    &-submit {
      margin-top: 20px;
      float: none;
      @include center-block();
    }
  }
  & input:not([type="submit"]) {
    margin-bottom: 20px;
    -webkit-appearance: none;
    padding: 12px 10px 14px 10px;
    width: 100%;
    @include font-light;
    font-size: 20px;
    color: #727272;
    border: none;
    border-radius: 5px;
    &::placeholder {
      font-size: 20px;
      color: #727272;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__submit {
    -webkit-appearance: none;
    margin: 0 auto;
    padding: 6px 0 8px 0;
    width: 100%;
    border: none;
    @include font-light;
    font-size: 25px;
    text-transform: capitalize;
    color: #fff;
    background-color: #03a9f4;
    border-radius: 5px;
    cursor: pointer;
  }
  &_error {
    box-shadow: 0 0 0 2px #f43a3a !important;
  }
  @include media-breakpoint-down(md) {
    padding-left: .9375rem;
    padding-right: .9375rem;
    & input:not([type="submit"]) {
      font-size: 16px;
      &::placeholder {
        font-size: 16px;
        color: #727272;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__wrapper {
      @include make-col-span(12);
      margin-bottom: 20px;
      &:first-of-type:not(&-submit) {
        padding-left: .9375rem;
      }
      &:last-of-type:not(&-submit) {
        padding-right: .9375rem;
      }
    }
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 200px;
  background-image: url(../img/back_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    @include make-row();
  }
  &__logo {
    @include make-col();
    @include make-col-span(9);
    text-align: right;
  }
  @include media-breakpoint-down(lg) {
    &__logo {
      @include make-col-span(8);
    }
  }
  @include media-breakpoint-down(md) {
    &__logo {
      img {
        width: 80%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    &__logo {
      @include make-col-span(12);
      margin-top: 5px;
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
}
.contacts {
  @include make-col();
  @include make-col-span(3);
  &__item {

    @include font-light;
    font-size: 20px;
    color: #fff;
    &-email {
      display: inline-block;
      margin-bottom: 15px;
    }
    &-address {
      display: inline-block;
    }
  }
  &__icon {
    position: relative;
    left: -5px;
    display: inline-block;
    width: 22px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &_email {
      top: 10px;

      background-image: url(../img/mail_icon.png);
    }
    &_nav {
      top: -2px;
      background-image: url(../img/location_icon.png);
    }
  }
  @include media-breakpoint-down(lg) {
    @include make-col-span(4);
  }
  @include media-breakpoint-down(sm) {
    @include make-col-span(12);
    text-align: center;
    &__item {
      &:before {

      }
    }
  };
}
